@model IEnumerable<WeatherApplication.Models.WeatherData>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LocationsHome</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
 
            <td>

                @Html.ActionLink("Details", "OpenWeather", new {  location=item.Location }) |

            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
